<beans xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <mvc:annotation-driven />

  <bean id="dinamicaSoap" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
    <property name="serviceName" value="Dinamica" />
    <property name="wsdlDocumentUrl" value="classpath:wsdl/dinamica.wsdl"/>
    <property name="serviceInterface" value="org.tempuri.DinamicaSoap" />
  </bean>
  
  <bean class="org.arp.controllers.HomeController">
    <constructor-arg ref="dinamicaSoap"/>
  </bean>

  <bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
    <property name="prefix" value="/WEB-INF/templates/" />
    <property name="suffix" value=".html" />
    <property name="templateMode" value="HTML5" />
  </bean>

  <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
    <property name="templateResolver" ref="templateResolver" />
  </bean>

  <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
    <property name="templateEngine" ref="templateEngine" />
  </bean>
</beans>